[Unit]
Description=Purge discord bot
After=network-online.target

[Service]
WorkingDirectory=WORKINGDIRECTORY
ExecStart=WORKINGDIRECTORY/venv/bin/gunicorn bot:app -b 127.0.0.1:9100 -w 4

[Install]
WantedBy=multi-user.target
